.blinker {
    display: inline-block;
    max-width: 3px;
    animation: blink 1s infinite;
    margin: 0rem 0rem 0px 3px;
    font-size: 1em;
}

.typed-text {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}


@keyframes blink {
    0% {
        background-color: #ffffff;
    }

    49% {
        background-color: #ffffff;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ffffff;
    }
}